* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  margin-bottom: 40px;
}

.todo-grid {
  display: grid;
  grid-template-columns: minmax(0,3fr) minmax(0,2fr) minmax(0,1fr);
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 480px;
  gap: 10px;
}

.list-container {
  margin-top: 20px;
  display: contents;
}

.todo-grid input {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.6);
  font-size: 15px;
  border-radius: 3px;
  height: 100%;
}

.todo-grid p {
  padding-left: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 3px;
  height: 100%;
}

button:active {
  transform: scale(0.98);
}

.add-btn {
  background-color:rgb(47, 147, 47);
}

.delete-btn {
  background-color: crimson;
}

.clear-btn {
  background-color: darkred;
  margin-top: 40px;
}

@media (max-width:768px) {
  .todo-grid {
    grid-template-columns: minmax(0,2fr) minmax(0,2fr) minmax(0,1fr);
    gap: 5px;
  }
}
