* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

.input-div input {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.8);
  font-size: 15px;
  border-radius: 3px;
}

button {
  padding: 15px 20px;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 3px;
}

button:active {
  transform: scale(0.98);
}

.add-btn {
  background-color:rgb(47, 147, 47);
}

.delete-btn {
  background-color: crimson;
}

.clear-btn {
  background-color: darkred;
  margin-top: 40px;
}

.input-div,
.list-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  align-items: center;
}

.list-container {
  margin-top: 20px;
}

.list-container div {
  padding: 10px;
}

@media (max-width:480px) {
  .input-div,
  .list-container {
    display: grid;
    grid-template-columns: 140px 140px 60px;
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    align-items: center;
  }
}





